<!-- Contact section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div id="contactInfo" class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Get in touch</h2>
            <p class="lead mb-0">We'd love to hear from you</p>
            <ul class="list-unstyled mb-0">
              <li><a href="https://goo.gl/maps/hmMLyw5Q8WCxJPxN9" target="_blank"><i class="fas fa-map-marker-alt fa-2x"></i></a>
                    <p>31848 N 4th Ave, Spirit Lake, ID 83869</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>(208) 304-8365</p>
                </li>

                <li><a href="mailto:logan@musicinthepines.org&subject=Guitar Lessons"> <i class="fas fa-envelope mt-4 fa-2x"></i></a>
                    <p>logan@musicinthepines.org</p>
                </li>
            </ul>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
             <script type='text/javascript' src='https://app.mymusicstaff.com/Widget/v3/Registration.ashx?id=sch_Hh3JT' class='sb_registration'></script> 
            </div>
        </div>
    </div>
</section>


