<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a href=<%= root_path %> class="navbar-brand">
        <%= image_tag "guitar_head.png", width: "30", height: "30" %>
        Music In The Pines
      </a>
    </div>
</nav>

<section class="py-5 border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md ">
        <%= image_tag "avatar", class: "rounded-circle mx-auto d-block", alt: "Logan Rice Photo" %>
      </div>
      <div class="col-sm">
        <h1>Logan Rice</h1>
        <p>
          I love music and I think you do too. Music is a powerful tool. 
          It moves people and captures a point like no other medium. 
          I strive to teach in the most fun and engaging way possible. I use hand 
          picked iconic tunes, from some of the world’s biggest artists across a 
          diverse range of genres to teach the theory and the technique. The ultimate goal
          is to express yourself freely on the instrument and play anything you 
          hear, whether it's an idea in your head or a song you like. 
          I want you to take your skills out into the community and play music for yourself,
          friends and family. Play around the campfire, at a coffee shop or on
          the big stage.
          I want your love of music to grow and I will provide you with a wealth of 
          technical, stylistic and theoretical knowledge that’s second to none.
        </p>
        <p >
          I started playing when I was 12. I took lessons from a local music 
          shop for several years and eventually started working there when I was 16.
          I met local musicians and just began
          playing in bands creating grunge and metal music. It was a blast. 
          After college I started playing in a hip hop fusion band we played a 
          lot of shows and received a local music award. Today you can find me playing
          guitar in a Christian worship band.
        </p>
        <p>
          My goal is to teach as many people to play guitar. I think the world
          would be a better place with more muscians and more music.
          I will never stop learning. I will constantly be developing
          new ways of teaching and studying. 
        </p>
        <p>
          I believe simplicity is the result of profound reflection; that results
          matter; and that demonstrating those skills in a live setting is the best way to validate our learning.
        </p>
             </div>
    </div>
  </div>
</section>
