        <!-- Background Video-->
        <!-- Masthead-->
        <%= video_tag "bg.mp4", class: "bg-video", playsinline: "playsinline", autoplay: "autoplay", muted: "muted", loop: "loop", type: "video/mp4", controls: "controls" %>
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0">
                  <p class="mb-5">Beginning guitar lessons. Integrate music into your life and build a stronger community with us.</p>

                    <p class="mb-5">We love music and we think you do too. Music is a powerful tool. It moves people and captures a point like no other medium. The brains of musicians have stronger structural and functional connections. We strive to teach in the most fun and engaging way possible. You will learn using hand picked iconic tunes from some of the world’s biggest artists across a diverse range of genres. We want your love of music to increase and we will provide you with a wealth of technical, stylistic and theoretical knowledge that’s second to none.
</p>
                    <p class="mb-5">Please contact me.</p>
                    <p class="mb-5">logan@musicinthepines.org
                    </br>208-304-8365
                    </p>
                </div>
            </div>
        </div>
        <!-- Social Icons-->
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">

                <!-- Social Icons--
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
                >
                <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->

                <a class="btn btn-dark m-3" href="https://www.instagram.com/musicinthepinesidaho"><i class="fab fa-instagram"></i></a>

                <a class="btn btn-dark m-3" href="https://www.facebook.com/Music-In-The-Pines-104164641953215"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>

