        <!-- Background Video-->
        <!-- Masthead-->
        <%= video_tag "bg.mp4", class: "bg-video", playsinline: "playsinline", autoplay: "autoplay", muted: "muted", loop: "loop" %>
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0">

                    <p class="mb-5">Logan Rice is dedicated to offering quality Guitar lessons that lead to a lifelong love of playing music.</p>
                    <p class="mb-5">Logan has enjoyed playing music for 26 years. He is looking forward to starting you off on your music journey.</p>
                    <p class="mb-5">Now accepting begining guitar students. Please contact me.</p>
                    <p class="mb-5">logan@musicinthepines.org
                    </br>208-304-8365
                    </p>
                </div>
            </div>
        </div>
        <!-- Social Icons-->
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">

                <!-- Social Icons--
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
                >
                <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->

                <a class="btn btn-dark m-3" href="https://www.instagram.com/musicinthepinesidaho"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

