<%= render 'nav_bar' %>


<main class="container">
  <section class="Main-content" data-content-field="main-content">
    <h2 style="text-align:center;white-space:pre-wrap;">Lesson Policies</h2>

    <h3 style="white-space:pre-wrap;">Lesson cancellation</h3>
    <ol >
      <li>
        <p class="" style="white-space:pre-wrap;">Cancellation of a lesson must be made <strong>AT LEAST</strong> 24 hours prior to the scheduled lesson time in order to receive a make-up lesson <em>(for definition of a make-up lesson, please see below)</em>.         
        </p>
      </li>
      <li>
        <p> Use the <%= link_to "Student Portal", login_path %> to notify us of missed lessons. Text and Voice messages are OK as well. 
      <li>
        <p class="" style="white-space:pre-wrap;">No shows or failure to notify the school/teacher within 24 hours is considered a forfeited lesson.
        </p>
      </li>
      <li>
        <p class="" style="white-space:pre-wrap;">If you know of dates ahead of time where you cannot make a lesson, please notify the school when booking/paying for your lessons.
        </p>
      </li>
      <li><p class="" style="white-space:pre-wrap;">There are <strong>NO</strong> refunds on unused or cancelled lessons.
        </p>
      </li>
      <li>
        <p class="" style="white-space:pre-wrap;">Should you choose to take a break, unused lessons can be banked for you for a period of 90 days. Unused lessons after that time will be considered forfeited.
        </p>
      </li>
      <li>
        <p class="" style="white-space:pre-wrap;">Should you decide to stop taking lessons altogether, please give your teacher 2 lessons notice.
        </p>
      </li>
    </ol>

    <hr/>
    <h3 style="white-space:pre-wrap;">Make up lessons</h3>
      <ol >
        <li>
          <p class="" style="white-space:pre-wrap;">Any lessons cancelled at least 24 hours ahead of the scheduled lesson will receive a make-up lesson at a time convenient to both the teacher and the student.
          </p>
        </li>
        <li>
          <p class="" style="white-space:pre-wrap;">A make-up lesson can be booked using the <%= link_to "Student Portal", login_path %> . You can also book directly with your teacher.
          </p>
        </li>

        <li>
          <p class="" style="white-space:pre-wrap;">Typically, make-up lessons take place at an alternate time/day within the week. In some cases, the make-up lesson will be added after/before the original lesson time, enabling the student to have an hour lesson.
          </p>
        </li>
        <li>
          <p class="" style="white-space:pre-wrap;">Make-up lessons not used after 90 days will be considered forfeited
          </p>
        </li>
    </ol>


    <hr/>
    <h3 style="white-space:pre-wrap;">Payments</h3>
    <ol >
      <li>
        <p class="" style="white-space:pre-wrap;">We accept most forms of payment.
        </p>
      </li>
      <li>
        <p class="" style="white-space:pre-wrap;">Lessons are billed on the first of each month by default. However, we can accomadate alternate billing schedules.
        </p>
      </li>
      <li>
        <p class="" style="white-space:pre-wrap;">Student tuition is paid to reserve a weekly slot on the calendar. There are <strong>NO REFUNDS</strong> on unused or cancelled lessons.
        </p>
      </li>
    </ol>


  <hr/>
  <h3 style="white-space:pre-wrap;">Holidays / school breaks</h3>
  <p class="" style="white-space:pre-wrap;">Exceptions will be made with respect to Major Holidays and School breaks.&nbsp; Please advise your teacher as soon as you know you will have to miss a lesson.
  </p>


  <hr/>
  <h3 style="white-space:pre-wrap;">When your teacher cancels</h3>
  <p class="" style="white-space:pre-wrap;">If your teacher cancels a lesson and we are unable to find a substitute teacher, we will skip over that weeks lesson and resume the following week.&nbsp; All payments will be pushed forward to compensate for the missed lesson.</p>


  </section>

</main>

<%= render 'contact' %>
